@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

/*
    WHOLE PAGE BASIC STRUCTURE STYLES.
*/
body {
    margin: 0;
    height: 100vh;
    width: 100%;

    font-family: 'Prompt', sans-serif;
    color: white;
}

.container-total {
    margin: 0;
    height: 100%;
    width: 100%;
}

.header-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    background-color: #607196;

    height: 15vh;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    position: absolute;
    left: 0;
    bottom: 0;

    height: 85vh;
    width: 38vh;

    background-color: #BABFD1;
    color:rgb(29, 29, 29);
    font-size: 24px;
}

.lists-container {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 38vh;

    height: 85vh;

    background-color: #E8E9ED;

    overflow: hidden;
    overflow-y: overlay;
}

.logo {
    width: 64px;
    height: 64px;

    margin-left: 10px;
    margin-right: 10px;
}

.title-page {
    font-size: 38px;
    font-weight: 700;

    border-bottom: 2px solid white;
}

.span-sidebar:first-of-type {
    margin-top: 50px;
}

.span-sidebar {
    margin: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    font-size: 1.9rem;
}

.span-sidebar:hover {
    transform: scale(1.1);
    color: black;

    text-shadow: 0 0 1px #666;
}

/*projects title*/
.span-projects {
    margin: 10px;
    font-size: 1.9rem;
}


/*
#############################
    TODOS STYLING
#############################
*/

.container-todo {
    height: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;
    margin: 1rem;
    background-color: #dde1f0;
    color: black;

    border: 1px solid #999;
    border-radius: 5px;

    overflow: hidden;
}

.side-div {
    display: flex;
    align-items: center;
}

.checkbox-todo {
    width: 20px;
    height: 20px;
    margin-right: 20px;

    border-radius: 50%;
    border: 1px solid black;
    border-color: #333;

    transition: background-color 0.3s;
}

.checkbox-todo:hover {
    background-color: rgb(70, 133, 70);
}

.title-todo {
    font-size: 24px;
}

.details-todo {
    padding: 4px;
    
    color: rgb(41, 122, 41);
    font-size: 14px;

    border-radius: 5px;
    border: 1px solid rgb(41, 122, 41);
}

.date-todo {
    margin-left: 20px;
    font-size: 12px;
}

/*single project*/
.span-project {
    margin: 5px;
    padding-left: 10px;
    font-size: 1.2rem;
    color: #333;
    transition: 0.2s ease-in-out;
}

.span-project:hover {
    cursor: pointer;
    transform: scale(1.1);

    text-shadow: 0 0 1px #666;
}

.new-project {
    margin: 5px;
    margin-top: 1px;
    padding: 5px;
    cursor: pointer;
    transition: border 1s;

    font-size: 1rem;
    color: #666;
    border: 0.2px solid #999;
}

.new-project:hover {
    text-shadow: 0 0 2px #999;
}

/*
##################################
    MODAL TO ADD A NEW PROJECT STYLING
##################################
*/
.backdrop-modal {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.modal-project {
    position: fixed;
    top: 10%;
    left: 25%;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 50vw;
    height: 60vh;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
}

.title-project {
    font-size: 24px;
    margin-top: 30px;
}   

.input-title {
    width: 80%;
    height: 2rem;

    font-size: 18px;

    padding: 5px;
    margin: 30px;
}

.button-title {
    position: absolute;
    bottom: 30px;

    border: 0.3px solid #666;
    border-color: rgb(41, 122, 41);

    color: rgb(41, 122, 41);
    padding: 5px;
}