@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');

/*
    WHOLE PAGE BASIC STRUCTURE STYLES.
*/
body {
    margin: 0;
    height: 100vh;
    width: 100%;
}

.container-total {
    margin: 0;
    height: 100%;
    width: 100%;
}

.header-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    background-color: #666;
    font-family: 'Benne', serif;

    height: 15vh;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sidebar {
    position: absolute;
    left: 0;
    bottom: 0;

    height: 85vh;
    width: 35vh;

    background-color: #333;
}

.lists-container {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 35vh;

    height: 85vh;

    background-color: rgb(212, 209, 209);

    overflow: scroll;
}